# Dependency directories
node_modules/
# Lock files (you’ll regenerate these)
package-lock.json
yarn.lock

# Homebridge persist/cache
persist/
accessories-cache.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS / editor
.DS_Store
.vscode/
.idea/
